<!DOCTYPE html>
<html>
{% block header %}
    <head>
        <meta charset="UTF-8" />

        </head>
        <title>
                {%- if block('title') -%}
                    {{ block('title') }}
                {%- else -%}
                    Research Platform
                {%- endif -%}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

            {% stylesheets 'bundles/css/main.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets 'bundles/css/bootstrap-datepicker3.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets 'bundles/css/timepicki.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}


        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
{% endblock %}
    <body>
        {% block body %}
            <nav class="main-navigation">
                <div class="main-navigation-logo">
                    <a href="/" class="main-navigation-search-trigger">
                        <i class="glyphicon glyphicon-eye-open" style="font-size: 40px; color: #ffffff"></i>
                    </a>
                </div>
                <div class="main-navigation-right clear">
                    <ul class="main-navigation-items clear">
                        <li id="search-form" style="display: none;">
                            <form class="navbar-form navbar-left search-form" role="search">
                                <button type="submit" class="hidden-submit" style="display: none;">wtf</button>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Zoeken">
                                </div>
                            </form>
                        </li>
                        <li class="main-navigation-search">
                            <a href="#" class="main-navigation-search-trigger"><i class="glyphicon glyphicon-search"></i></a>

                        </li>
                        <li class="language dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Taal<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Nederlans <i class="glyphicon glyphicon-ok"></i></a></li>
                                <li><a href="#">Engels</a></li>
                                <li><a href="#">Duits</a></li>
                                <li><a href="#">Spaans link</a></li>
                                <li><a href="#">Chinees</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('research_index') }}">Ontdek</a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="user"><a class="btn-no-highlight" data-toggle="modal" href="{{ path('fos_user_profile_show') }}" data-target="#myModal">{{ app.user.firstname }} {{ app.user.lastname }}</a></li>
                        {% elseif not app.user %}
                            <li class="user"><a class="btn-no-highlight" data-toggle="modal" href="{{ path('fos_user_security_login') }}" data-target="#myModal">Inloggen</a></li>
                        {% endif %}
                    </ul>
                    <div class="main-navigation-sell">
                        <a href="{{ path('research_new') }}" class="btn btn-success"><span>Research plaatsen</span></a>
                    </div>
                </div>
            </nav>


        {% endblock %}
        {% block javascripts %}
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
            {% javascripts 'bundles/js/bootstrap-datepicker.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts 'bundles/js/timepicki.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                </div>

            </div>
        </div>
        <div class="modal fade" id="registerModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                </div>

            </div>
        </div>
    </body>


</html>
