{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Register</h4>
    </div>
    <div class="modal-body">
        {{ form_widget(form) }}
        {{ form_rest(form) }}
    </div>
    <div class="modal-footer">
        <input class="btn float-right" type="submit" value="{{ 'registration.submit'|trans }}"/>
    </div>
{{ form_end(form) }}


