{% extends 'base.html.twig' %}

{% block body %}

        {{ parent() }}

        <header class="main-header">
            <div class="main-header-overlay"></div>
        </header>

        <div class="container l-content">
            <h1>Pas het onderzoek aan</h1>
            {{ form_start(edit_form) }}
            <fieldset>
                {{ form_widget(edit_form) }}
            </fieldset>
            <fieldset>
                <div class="submit clear">
                    <button type="submit" value="edit" class="btn btn-success btn-lg btn-block">Onderzoek aanpassen</button>
                    {{ form_end(edit_form) }}
                    <div class="alert">
                        De aanpassingen zijn direct zichtbaar op de website!
                    </div>
                    <a href="{{ path('research_index') }}" class="btn">Terug naar het overzicht</a>

                    <div class="alert">
                        {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-lg btn-block" value="Delete">Verwijder het onderzoek</button>
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </fieldset>
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $('.datepicker').datepicker({
            format: "dd-mm-yyyy",
            startDate: "today",
            language: "nl",
            orientation: "bottom left",
            autoclose: true
        });
        $('.timepicker').timepicki({
            show_meridian:false,
            min_hour_value:0,
            max_hour_value:23,
            step_size_minutes:15,
            overflow_minutes:true,
            increase_direction:'up',
            start_time: ["10", "00", "AM"]});
    </script>
{% endblock %}
