{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <header class="content-header">
        <div class="content-header--content">
            <h1>Ontdek ResearchPlatform</h1>
            <h2 class="subtitle">Researches</h2>
        </div>
    </header>

<div class="container">
    <section class="events-list">
        <section class="events-list--item">
            {% for research in researches %}
            <article class="events-list--item" itemscope="" itemtype="http://data-vocabulary.org/Event">
                <meta itemprop="summary" content="Pinkpop 2016">
                <meta itemprop="startDate" content="2016-06-10T15:00">
                <meta itemprop="endDate" content="2016-06-13T01:00">
                <h3><a href="{{ path('research_show', { 'id': research.id }) }}" itemprop="url">{{ research.name }}</a></h3>
                <span class="date-location">{% if research.startDate %}{{ research.startDate|date('d-m-Y') }}{% endif %}, {{ research.company }}, {{ research.location }}</span>
            </article>
            {% endfor %}

            <a href="#" class="btn load-more ">Meer resultaten laden...</a>

        </section>
    </section>
</div>
{% endblock %}
