{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

    <header class="main-header">
        <div class="main-header-overlay"></div>
    </header>

    <div class="container l-content">
        <h1>Voeg een nieuw research toe</h1>
        {{ form_start(form) }}
        <fieldset>
                {{ form_widget(form) }}
        </fieldset>
        <fieldset>
            <div class="submit clear">
               <button type="submit" class="btn btn-success btn-lg btn-block">Research toevoegen</button>
                <div class="alert">
                    Het research is direct op de website zichtbaar!
                </div>
            </div>
        </fieldset>
        {{ form_end(form) }}

        <!--<a href="{{ path('research_index') }}" class="btn">Terug naar het overzicht</a>-->

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('.datepicker').datepicker({
            format: "dd-mm-yyyy",
            startDate: "today",
            language: "nl",
            orientation: "bottom left",
            autoclose: true
        });
        $('.timepicker').timepicki({
            show_meridian:false,
            min_hour_value:0,
            max_hour_value:23,
            step_size_minutes:15,
            overflow_minutes:true,
            increase_direction:'up',
            start_time: ["10", "00", "AM"]});
    </script>
{% endblock %}



