{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <header class="content-header">
        <div class="content-header--content">
            <div class="content-header--back">

                <a href="{{ path('research_index') }}"><i class="glyphicon glyphicon-chevron-left"></i></a>
            </div>
            <h1>{{ research.name }}</h1>
            <h2 class="subtitle">{{ research.description }}</h2>

            <div class="content-header--info">
                <span class="date">
                    <i class="icon-calendar glyphicon glyphicon-calendar"></i>
                    {% if research.startDate %} {{ research.startDate|date('l j M Y') }}{% endif %}
                </span>
                <span class="location" itemprop="location" itemscope="" itemtype="http://data-vocabulary.org/Organization">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <a href="/{{ research.company }}" itemprop="name">{{ research.company }}</a>,
                    <a href="/{{ research.location }}" itemprop="locality">{{ research.location }}</a>,
                    <a href="/Country" itemprop="locality">Bangladesh</a>
                </span>
                <meta itemprop="endDate" content="{{ research.startDate|date('d-m-Y') }}">
                <meta itemprop="startDate" content="{{ research.endDate|date('d-m-Y') }}">
            </div>
        </div>
    </header>

    <div class="l-content">
        <div class="container listing-info">
            <div class="listing-info--organization">
                {% if research.image != null %} <img src="{{ research.image }}" alt="{{ research.company }}">
                {% else %}
                <img src="http://photos.prnewswire.com/prn/20150602/220323LOGO" alt="Wie is dit?">
                {% endif %}
                <div class="organization">
                    <h3>{{ research.company }}</h3>
                    <div class="organization-city">
                        {{ research.location }}
                    </div>
                    <ul>
                        <li><i class="glyphicon glyphicon-user"></i> {{ research.owner.firstname }} {{ research.owner.lastname }}</li>
                        <li><i class="glyphicon glyphicon-phone"></i> 012-3456789</li>
                        <li><i class="glyphicon glyphicon-globe"></i><a href="www.companyurl.org"> companyurl.org</a></li>
                        <li><i class="glyphicon glyphicon-briefcase"></i> Branche</li>
                    </ul>

                </div>
            </div>
            <div class="listing-info--research">
                <div class="apply">
                    {% if research.availabilityStarts|date('Y-m-d H:i') < 'now'|date('Y-m-d H:i') and research.availabilityEnds|date('Y-m-d H:i') > 'now'|date('Y-m-d H:i')%}{# check if start date has passed and end date not#}
                        <span class="text-open"><i class="glyphicon glyphicon-ok-circle"></i>
                            Aanmelden kan tot {{ research.availabilityEnds|date('l j M Y H:i') }}
                        </span>

                        {% elseif research.availabilityStarts|date('Y-m-d H:i') > 'now'|date('Y-m-d H:i') %}{# check if start date has not passed#}
                        <span class="text-closed"><i class="glyphicon glyphicon-ban-circle"></i>
                            Aanmelden kan van {{ research.availabilityStarts|date('l j M Y H:i') }} tot {{ research.availabilityEnds|date('l j M Y H:i') }}
                        </span>
                        {% elseif research.availabilityEnds|date('Y-m-d H:i') < 'now'|date('Y-m-d H:i') %}{# check if end date has passed#}
                        <span class="text-closed"><i class="glyphicon glyphicon-ban-circle"></i>
                            Aanmelden kon tot {{ research.availabilityEnds|date('l j M Y H:i') }}
                        </span>
                        {% endif %}

                </div>
                <div class="description">
                    {{ research.longDescription }}
                </div>
                <div class="block">
                    <div class="research-organizations">
                        <span>
                            <i class="glyphicon glyphicon-map-marker"></i>
                            <a href="/{{ research.company }}" itemprop="name"> {{ research.company }}</a>,
                            <a href="/{{ research.location }}" itemprop="locality"> {{ research.location }}</a>,
                            <a href="/Country" itemprop="locality"> Bangladesh</a>
                            </span>
                        <span>
                            <i class="glyphicon glyphicon-leaf"></i><a href="/{{ research.organizer }}"> {{ research.organizer }} </a>
                        </span>
                    </div>
                    <div class="research-properties">
                        <span>
                            <i class="glyphicon glyphicon-calendar"></i> {% if research.startDate %}{{ research.startDate|date('l j M Y') }}{% endif %} t/m {% if research.endDate %}{{ research.endDate|date('l j M Y') }}{% endif %}</br>
                            <i class="glyphicon glyphicon-bullhorn"></i><a href="/{{ research.inLanguage }}"> {{ research.inLanguage }}</a></br>
                            <i class="glyphicon glyphicon-education"></i><a href="/Publieke voorzieningen en gemakken"> Publieke voorzieningen en gemakken</a></br>
                            <i class="glyphicon glyphicon-tent"></i> Eigen woning</br>
                            <i class="glyphicon glyphicon-piggy-bank"></i> € 400,- per maand</a></br>
                        </span>
                    </div>

                    {% if app.user == research.owner %}
                        <div class="alert">
                            Jij bent de eigenaar van dit onderzoek, gebruik de onderstaande knop om aanpassingen te doen.
                        </div>
                        <a href="{{ path('research_edit', { 'id': research.id }) }}" class="btn blue-btn">Pas het onderzoek aan</a>
                    {% else %}
                        <button type="submit" class="btn btn-success btn-lg btn-block">Aanmelden</button>
                        <div class="alert">
                            De organiserende instantie krijgt hiervan direct bericht!
                        </div>
                    {% endif %}

                    <div class="research-id">
                        <i class="glyphicon glyphicon-tag"></i> {{ research.id }}
                    </div>
                </div>

            </div>
        </div>
        <div class="support-block">
        </div>
    </div>
{% endblock %}
