.main-navigation {
    height: 60px;
    line-height: 1;
    position: relative;
    z-index: 4
}

@media (min-width:480px) {
    .main-navigation {
        height: 72px
    }
}

.main-navigation-logo {
    padding: 15px 0 0 15px;
    float: left
}

.main-navigation-logo a {
    display: block;
    width: 152px;
    height: 30px;
    background-size: auto 30px
}

.main-navigation-logo a span {
    display: none
}

.main-navigation-logo a:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: .8
}