/****** main content *********/

body {
        font-family: "proxima-nova", "Helvetica Neue", helvetica, arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #666;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

h1+h1, h1+h2, h1+h3, h1+h4, h1+h5, h1+h6, h2+h1, h2+h2, h2+h3, h2+h4, h2+h5, h2+h6, h3+h1, h3+h2, h3+h3, h3+h4, h3+h5, h3+h6, h4+h1, h4+h2, h4+h3, h4+h4, h4+h5, h4+h6, h5+h1, h5+h2, h5+h3, h5+h4, h5+h5, h5+h6, h6+h1, h6+h2, h6+h3, h6+h4, h6+h5, h6+h6 {
    margin-top: 16px;
}

div {
    display: block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a:hover {
    color: #333;
    text-decoration: none;
}

/****** links and button looks *********/
    a {
        text-decoration: none;
        color: #0081db;
        cursor: pointer;
        -webkit-transition: color 100ms ease-in-out false, opacity 100ms ease-in-out false;
        -moz-transition: color 100ms ease-in-out false false, opacity 100ms ease-in-out false false;
        -o-transition: color 100ms ease-in-out false false, opacity 100ms ease-in-out false false;
        transition: color 100ms ease-in-out, opacity 100ms ease-in-out
    }

    .btn {
        display: block;
        line-height: 1;
        font-size: 17px;
        font-weight: 600;
        margin: 0;
        padding: 12px 20px;
        color: #fff;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        border: none;
        cursor: pointer;
        text-align: center;
        outline: none;
        white-space: normal;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: background-color 100ms ease-in-out false, border-color 100ms ease-in-out false;
        -moz-transition: background-color 100ms ease-in-out false false, border-color 100ms ease-in-out false false;
        -o-transition: background-color 100ms ease-in-out false false, border-color 100ms ease-in-out false false;
        transition: background-color 100ms ease-in-out, border-color 100ms ease-in-out;
        background: -owg-#0081db linear-gradient(rgba(255, 255, 255, .1), transparent);
        background: -webkit-#0081db linear-gradient(rgba(255, 255, 255, .1), transparent);
        background: -moz-#0081db linear-gradient(rgba(255, 255, 255, .1), transparent);
        background: -o-#0081db linear-gradient(rgba(255, 255, 255, .1), transparent);
        -pie-background: -pie-#0081db linear-gradient(rgba(255, 255, 255, .1), transparent);
        background: #0081db linear-gradient(rgba(255, 255, 255, .1), transparent)
    }

    .btn:hover {
        background-color: #0090f5;
        color: #fff
    }

    .btn-success {
        background-color: #0b9f00
    }

    .btn-success:hover {
        background-color: #0db900
    }

/****** home header *********/
    .btn-no-highlight{
        outline: none !important;
    }

    .content-header {
        background: #333 url("http://www.dhakatribune.com/sites/default/files/Dhaka.jpg") no-repeat center;
        background-size: cover;
        position: relative;
        margin-bottom: 20px;
        margin-top: -72px;
    }

    .content-header:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        background: -owg-rgba(0, 0, 0, .5) linear-gradient(rgba(0, 0, 0, .5), transparent 200px);
        background: -webkit-rgba(0, 0, 0, .5) linear-gradient(rgba(0, 0, 0, .5), transparent 200px);
        background: -moz-rgba(0, 0, 0, .5) linear-gradient(rgba(0, 0, 0, .5), transparent 200px);
        background: -o-rgba(0, 0, 0, .5) linear-gradient(rgba(0, 0, 0, .5), transparent 200px);
        -pie-background: -pie-rgba(0, 0, 0, .5) linear-gradient(rgba(0, 0, 0, .5), transparent 200px);
        background: rgba(0, 0, 0, .5) linear-gradient(rgba(0, 0, 0, .5), transparent 200px)
    }

    .content-header--content {
        color: #fff;
        text-align: center;
        position: relative;
        z-index: 1;
        padding: 70px 15px 85px
    }

    @media (min-width:768px) {
        .content-header--content h1 {
            font-size: 60px;
            padding: 0 55px 0;
            font-weight: 700;
        }
    }

    .content-header--content h2 {
        font-size: 36px;
        text-align: center;
        line-height: 1.2;
        color: #fff;
        margin-bottom: 0;
        padding-bottom: 5px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        font-weight: 400;
    }

    .content-header--content .nav li a:hover {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: .7
    }

    .content-header--content .nav li.active a {
        border-bottom: 2px solid rgba(255, 255, 255, .5)
    }

    .content-header--content .nav li.active a:hover {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1
    }

/****** main header *********/
    .main-header {
        min-height: 60px;
        background-color: #333;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-image: url("https://d2ch0x1l0wofme.cloudfront.net/static/images/headers/20160127/1.jpg");
        position: relative;
        margin-bottom: 20px;
        margin-top: -60px
    }

    @media (min-width:480px) {
        .main-header {
            margin-bottom: 50px;
            min-height: 72px;
            margin-top: -72px
        }
    }

    .main-header-overlay {
        text-align: center;
        min-height: 60px;
        background: -owg-rgba(0, 0, 0, .5) linear-gradient(rgba(0, 0, 0, .5), transparent 200px);
        background: -webkit-rgba(0, 0, 0, .5) linear-gradient(rgba(0, 0, 0, .5), transparent 200px);
        background: -moz-rgba(0, 0, 0, .5) linear-gradient(rgba(0, 0, 0, .5), transparent 200px);
        background: -o-rgba(0, 0, 0, .5) linear-gradient(rgba(0, 0, 0, .5), transparent 200px);
        -pie-background: -pie-rgba(0, 0, 0, .5) linear-gradient(rgba(0, 0, 0, .5), transparent 200px);
        background: rgba(0, 0, 0, .5) linear-gradient(rgba(0, 0, 0, .5), transparent 200px)
    }

    @media (min-width:480px) {
        .main-header-overlay {
            min-height: 72px
        }
    }

/****** login screen *******/
.float-right{
    float: right;
}


/****** navigation within headers *********/
    .main-navigation {
        height: 72px;
        line-height: 1;
        position: relative;
        z-index: 4
    }

    .main-navigation-logo {
        padding: 15px 0 0 15px;
        float: left
    }


    .main-navigation-logo a:hover {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
        opacity: .8
    }

    .main-navigation-right {
        position: absolute;
        right: 0;
        top: 0
    }

    .main-navigation-sell {
        float: left;
        padding: 15px 30px 0 0;
        display: none
    }

    @media (min-width:1024px) {
        .main-navigation-sell {
            display: block
        }
    }

    .main-navigation-items {
        float: left;
        padding: 15px 5px 0 0;
        margin: 0;
        list-style: none
    }

    @media (min-width:480px) {
        .main-navigation-items {
            padding-right: 10px
        }
    }

    @media (min-width:1024px) {
        .main-navigation-items {
            padding-right: 20px
        }
    }

    .main-navigation-items>li {
        margin: 0;
        padding: 0;
        float: left
    }

    .main-navigation-items>li.language {
        margin-right: 10px
    }

    .main-navigation-items>li.language .dropdown-menu:after {
        bottom: 100%;
        right: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 6px;
        margin-left: -6px
    }

    @media (min-width:768px) {
        .main-navigation-items>li.language .dropdown-menu:after {
            left: 30px
        }
    }

    .main-navigation-items>li>a {
        display: block;
        margin: 0;
        color: rgba(255, 255, 255, .6);
        text-decoration: none;
        font-weight: 400;
        font-size: 17px;
        padding: 11px 10px 13px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2)
    }

    .main-navigation-items>li>a:hover {
        color: #fff
    }

    .main-navigation-items>li.main-navigation-search {
        padding: 5px 10px
    }

    .main-navigation-items>li.main-navigation-search a.main-navigation-search-trigger {
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        font-size: 20px
    }

    .main-navigation-items>li.main-navigation-search a.main-navigation-search-trigger:hover {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1
    }

/****** froms *********/
    .form-control{
        margin-top: 5px;
    }

    .date-form, .time-form{
        padding-left: 0px;
    }
/****** standard divs *********/
.alert{
    text-align: center;
    margin-bottom: 0px;
}

/****** researsch header *********/

.content-header--back {
    top: 150px;
    left: 200px;
    position: absolute;
}

.content-header--back a{
    color: #fff;
    font-size: 22px;
}

.content-header--back a:hover{
    color: #666;
}

.content-header--info {
    font-size: 24px;
    line-height: 1.2;
    color: #fff;
    padding: 10px 0 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.content-header--info a {
    color: #fff;
    text-decoration: none;

}

.content-header--info a:hover{
    color: #666;
}

.content-header--info .date {
    margin-bottom: 15px;
}

.content-header--info .date, .content-header--info .location {
    display: inline-block;
    line-height: 1;
    margin: 0 20px;
    font-size: 20px;
}
.content-header--info .date i, .content-header--info .location i {
    display: inline-block;
    margin-right: 3px;
}


/****** researsch information *********/

.l-content{
    font-size: 17px;
}

.listing-info--organization img {
    float: none;
    width: 180px;
    height: 180px;
    margin-right: 0;
    border-radius: 50%;
    margin-bottom: 10px;
}

.listing-info--organization ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listing-info--organization {
    padding-bottom: 0;
    width: 25%;
    float: left;
    padding-right: 10px;
    margin-bottom: 20px;
    position: relative;
}

.listing-info--organization ul li {
    position: relative;
    padding: 5px 0 5px 0px;
}

.listing-info--organization a {
    color: #666;
    text-decoration: none;
}

.listing-info--organization a:hover{
    color: #000000;
}

.listing-info--research {
    width: 75%;
    float: left;
    padding-left: 10px;
}

.listing-info--research .block {
    padding: 30px;
    margin-left: 0;
    margin-right: 0;
    background: #FFEBC6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.listing-info--research .block ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listing-info--research .description {
    padding: 30px;
    margin-left: 0;
    margin-right: 0;
}

.apply{
    padding: 15px 30px 0px 30px;
    text-align: center;
}

.text-open{
    color: #0b9f00;
}

.text-closed{
    color: #C82829;
}

.listing-info--research .block .research-id {
    float: right;
    font-weight: 700;
    margin-right: -20px;
    padding-bottom: 50px;
}

.block .research-organizations{
    padding-bottom: 20px;
}
.block .research-organizations span{
    margin-right: 80px;
}
.block .research-properties{
    padding-bottom: 20px;
}

.listing-info--research .block a {
    color: #666;
    text-decoration: none;
}

.listing-info--research .block a:hover{
    color: #0081db;
}

.events-list--item, .event .events-list--item {
    padding: 20px 90px 20px 20px;
}

a .blue-btn{
    color: #FFF;
    text-decoration: none;
}