
/* 
Created on: 17 Sep, 2014, 4:29:37 PM
Author: senthil
*/

.ti_tx,
.mi_tx,
.mer_tx {
	width: 100%;
	text-align: center;
	margin: 0px 0;
}

.time,
.mins,
.meridian {
	width: 60px;
	float: left;
	margin: 0 0px;
	font-size: 20px;
	color: #2d2e2e;
	font-family: arial;
	font-weight: 700;
}

.prev,
.next {
	cursor: pointer;
    margin: 5px 10px 5px 10px;
	height: 40px;
    width: 40px;
	background: url(../images/arrow.png) no-repeat;
	border-radius: 5px;

}

.prev i,
.next i {
    font-size: 14px;
    margin: 13px 15px 15px 14px;
    top: 0px;
    color: #666;
}

.prev:hover,
.next:hover {
	background-color: #ccc;
}

.next {
	background-position: 50% 150%;
}

.prev {
	background-position: 50% -50%;
}

.time_pick {
	position: relative;
}

.timepicker_wrap {
	border-radius: 4px;
	z-index: 998;
	display: none;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background: #ffffff;
	border: 1px solid #ccc;
	float: left;
	position: absolute;
	top: 40px;
	left: 0;
}

.arrow_top {
	position: absolute;
	top: -10px;
	left: 20px;
	background: url(../images/top_arr.png) no-repeat;
	width: 18px;
	height: 10px;
	z-index: 999;
}
input.timepicki-input {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    float: none;
    margin: 0;
    text-align: center;
    width: 70%;
    font-size: 14px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "proxima-nova", "Helvetica Neue", helvetica, arial, sans-serif;
    color: #666;
}
a.reset_time {
	float: left;
	margin-top: 5px;
	color: #000;
}

.timepicker_wrap:before {
    top: -7px;
}
.timepicker_wrap:before {
    left: 6px;
}
.timepicker_wrap:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.15);
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
}


.timepicker_wrap:after {
    top: -6px;
}
.timepicker_wrap:after {
    left: 7px;
}
.timepicker_wrap:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-top: 0;
    position: absolute;
}