{# extends "FOSUserBundle::layout.html.twig" #}

{% trans_default_domain 'FOSUserBundle' %}

<div class="hidden">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% block fos_user_content %}

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Inloggen</h4>
        </div>
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <div class="modal-body">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}


                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">{{ 'security.login.username'|trans }}:</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">{{ 'security.login.password'|trans }}:</label>
                <input class="form-control" type="password" id="password" name="_password" required="required" />
        </div>
        <div class="modal-footer">
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <input class="btn btn-success float-right" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            <a class="btn" href="{{ path('fos_user_registration_register') }}" data-target="#myModal">Registreren!</a>
        </div>
    </form>

    <script>
        $("a[data-target=#myModal]").click(function(ev) {
            ev.preventDefault();
            var target = $(this).attr("href");

            // load the url and show modal on success
            $("#myModal .modal-content").load(target, function() {
                $("#myModal").modal("show");
                rescale();
            });
        });
    </script>
{% endblock fos_user_content %}
