{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show" xmlns="http://www.w3.org/1999/html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <form action="{{ path("fos_user_profile_edit") }}" method="post">
        <div class="modal-body">
            <center>
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAALTAAAAJDM2M2EyODY2LTg5ZTctNDkwZi1iOWE5LTk4NDIyYjk3MjU3MQ.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                <h3 class="media-heading">{{ app.user.firstname }} {{ app.user.lastname }} </br>
                    <small>
                        {% if is_granted('ROLE_STD') %}
                            Student account
                        {% endif %}
                        {% if is_granted('ROLE_UNI') %}
                            University account
                        {% endif %}
                        {% if is_granted('ROLE_ORG') or is_granted('ROLE_COM')%}
                            Organization account
                        {% endif %}
                    </small></h3>
                <span><strong>Intrests </strong></span>
                <span class="label label-warning">Human Health</span>
                <span class="label label-info">Adobe</span>
                <span class="label label-info">Microsoft Office</span>
                <span class="label label-success">Windows XP, Vista, 7</span>
            </center>

            <hr>
            <center>
                <i class="glyphicon glyphicon-phone"></i> 012-3456789</br>
                <i class="glyphicon glyphicon-globe"></i><a href="www.companyurl.org"> companyurl.org</a></br>
                <i class="glyphicon glyphicon-briefcase"></i> Branche</br>
                <!--{{ 'profile.show.email'|trans }}:--> {{ app.user.email }}</br>
                {{ app.user.anotherfield }}
            </center>
        </div>
        <div class="modal-footer">
            <input class="btn btn-success float-right" type="submit" id="_submit" name="_submit" value="Bewerken" />
        </div>

    </form>
</div>





